token="ここにtokenを入力"
prefix="yt."
save="./warocheck.json"
blsave="./waroblcheck.txt"
word=["おわった","終わった","owatta","オワッタ","ｵﾜｯﾀ"]
iikata="おわった"
repo="https://github.com/yoshihisa11132/owattacountbot"
# token：botのトークン
# prefix：botのコマンドの最初の部分、接頭詞とも言う
# save：何回言ったかを保存するためのファイルパス
# blsave：ブラックリストのデータを保存するためのファイルパス
# word：反応する言葉
# iikata：その言葉の読み
# repo：あなたのbotのリポジトリ、コードを改変してないならそのままでOK
